// Custom
// ----------------------------------------

// Borders
// ----------------------------------------

$custom--border-width: 4px;

// Spacing
// ----------------------------------------

$custom--body-padding-x: 10px;

$custom--body-padding-y: 40px;
