// Grid
// ----------------------------------------

$grid--max-width: 1187px;

$grid--max-columns: 12;

$grid--gutters: (
  'x': 20px,
  'd': 20px,
  't': 20px,
  'm': 12px
);

$grid--margins: (
  'x': 82px,
  'd': 32px,
  't': 32px,
  'm': 23px
);
