// Palette
// ----------------------------------------

$palette--transparent: rgba(0, 0, 0, 0);

$palette--black: #111111;

$palette--white: #ffffff;

// ----------------------------------------

$palette--parchment: #f0ded1;

$palette--persian-green: #009999;

$palette--seashell: #f1f1f1;

$palette--tahiti-gold: #f07f0a;